<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if and (.Title) (not .IsHome) }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">

{{- with .Page.Params.ogImage -}}
<meta name="og:image" content="{{ . | absURL }}"/>
{{else}}
<meta name="og:image" content="{{ .Site.Params.image | absURL }}"/>
{{ end }}
