<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if and (.Title) (not .IsHome) }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">

{{ if .Content -}}
  {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }}
    {{ range $url := first 1 $urls }}
      {{ $url := (strings.TrimPrefix "<img src=\"" $url) -}}
      {{ $url := strings.TrimSuffix "\"" $url -}}
      <meta name="og:image" content="{{ $url }}"/>
    {{ else }}
      <meta name="og:image" content="{{ .Site.Params.image | absURL }}"/>    
    {{ end }}
{{else}}
  <meta name="og:image" content="{{ .Site.Params.image | absURL }}"/>
{{ end }}

